BOT_TOKEN=your_telegram_bot_token_here
BOT_NAME=Nexus Control Center
BOT_DESC=System Monitor & Crypto Tipping Interface
ADMIN_IDS=
CPU_ALERT_PCT=85
RAM_ALERT_PCT=90
DISK_ALERT_PCT=90
WEB3_PROVIDER_URL=https://rpc-mumbai.maticvigil.com
USDC_CONTRACT_ADDRESS=0x2791Bca1f2de4661ED88A30C99A7a9449Aa84174
BOT_WALLET_PRIVATE_KEY=
MIN_TIP=0.01
MAX_TIP=10000.0
